/* form element style */
.loginForm,
.loginLabel {
  margin: 0.5rem 1rem 1rem;
  display: flex;
  flex-flow: column;
}

.formLayout {
  min-height: 100%;
  align-self: center;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


.loginPrompt {
  font-weight: 600;
}

.formInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: aliceblue;
  background: aliceblue;
  z-index: 1000;
}

.inputBorder {
  padding: 10px;
  margin: 0.5rem 0 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: aliceblue;
  background: aliceblue;
}

.loginTitle {
  margin: 0.5rem 0rem 1rem;
  text-align: center;
  color:aliceblue;
}

.loginSubmit {
  width: 100%;
  margin-bottom: 50px;
}

.error {
  color: brown;
  margin: 1rem 0 0;
}

.deleteUserContainer {
  padding-top: 20px;
  padding-bottom: 50px;
}

.deleteUserButton {
  width: 100%;
}
