/* form element style */

/* form element style */
.loginForm,
.loginLabel {
  margin: 0.5rem 1rem 1rem;
  display: flex;
  flex-flow: column;
}

.formLayout {
  min-width: 100%;
  min-height: 100%;
}

.loginPrompt {
  font-weight: 600;
}

.formInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: aliceblue;
  background: aliceblue;
  z-index: 1000;
}

.inputBorder {
  padding: 10px;
  margin: 0.5rem 0 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: aliceblue;
  background: aliceblue;
}

.loginTitle {
  margin: 0.5rem 1rem 1rem;
  text-align: center;
  color:aliceblue;
}

.loginSubmit {
  width: 100%;
  margin-bottom: 50px;
}

.error {
  color: brown;
  margin: 1rem 0 0;
}





/* .loginLabel {
    margin: 1rem 1rem 2.9rem;
    display: flex; 
    flex-flow: column; 
    text-align: center;
    font-weight: bold;
}
.loginForm{
    margin: .5rem 5rem 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* background-image: url(../../public/ALABAMA_Simple3.png);
    background-position-x: center;
    background-size: 1100px 700px;
    background-repeat: no-repeat; */

/* } */

/* .loginFormFL{
    margin: .5rem 5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.formLayout {
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(rgba(89, 187, 190, 0.979), rgba(61, 150, 98, 0.849));
} */
.loginForm {
  margin: 0.5rem 1rem 1rem;
  display: flex;
  flex-flow: column;
}

.formLayout {
  min-width: 100%;
  min-height: 100%;
}

.loginPrompt {
  font-weight: 600;
}

/* .formInput {
    padding: 8px;
    width: 40rem;
    margin: 0.5rem 0 1rem;
    border: 1px solid #000000;
    border-radius: 4px;
} */
/*  
.formInput {
  padding: 8px;
  margin: 0.5rem 0 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: aliceblue;
  background: aliceblue;
}


.loginTitle {
  margin: 0.5rem 1rem 1rem;
  text-align: center;
  color:aliceblue;
}

.loginSubmit {
  width: 100%;
  background: #2196f3;
}

.bggradient{
    background-image: linear-gradient(rgba(89, 187, 190, 0.979), rgba(61, 150, 98, 0.849));
  }

.error {
  color: brown;
  margin: 1rem 0 0;
} */
