.header {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 10px;
  text-align: center;
  background: rgb(0 0 0 / 30%);
  color: white;
  font-size: 20px;
  backdrop-filter: blur(5px);
}

.headerElement {
  display: table-cell;
  text-align: center;
}
