.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.link {
  color: white;
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

.about {
  height: 20vh;
}

.welcome {
  height: 2vh;
}

.abouttext {
  padding: 100px;
  width: 50vw;
  text-align: justify;
}
